*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    background: rgb(255, 255, 255)!important;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0px 2px 6px 0px rgba(128, 128, 128, 0.212);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.my-slider{
    border-radius: 11px;
    background:#fceae8;
}

.buy{
    color: #fff;
    background: rgb(255, 0, 128);
}

.buy:hover{
    color: rgb(0, 0, 0);
    background: rgb(0, 255, 234)!important;
}

/* **************** short items ************** */
.my-background{
    color: #fff;
    background-image:linear-gradient(30deg,rgb(255, 94, 0),rgb(255, 230, 0))!important;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 0px gray;
}